{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <table class="table-striped">
        <thead>
            <th>
                <h1>All articles from article s table : </h1>
            </th>        
        </thead>
        <tbody>
    {% for article in articles %}
        <tr>
                <td><h2>{{ article.title }} ~ {{ article.category.name }} </h2></td>
        </tr>
        <tr>
            <p><td>{{ article.content }}</td></p>
        </tr>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_index') }}">
        <br>
      Back to homepage.
      
    </a>
{% endblock %}
